.dark-mode {
    background-color: #3E3D3D;
    color: #FFFFFF;
}

.light-mode {
    background-color: #CFD8DC;
    color: #000000;
}

.dark-mode-btn-text {
    color: #C0C0C0;
}

.light-mode-btn-text {
    color: #000000;
}