@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

/* HTML Element Style */

head {
    font-family: 'Lato';
    color: white;
}

body {
    font-family: 'Lato';
    margin: 0px;
}

table {
    width: 90% !important;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    overflow: auto;
    font-family: 'Lato';
    border-collapse: collapse;
}

tr {
    font-family: 'Lato';
    border-bottom: 1px solid #C0C0C0;
}

td {
    height: 25px;
    cursor: pointer;
}

th {
    width: 108px;
    height: 20px;
    text-align: left;
    overflow: auto;
}

th:first-child {
    text-align: left;
}

td:first-child {
    width: 10%;
}

td:nth-child(2) {
    text-align: left;
    width: 50%;
}

td:nth-child(3) {
    width: 35%;
}

td:last-child {
    width: 10%;
    text-align: right;
}


/* Custom Class Styles */

.card {
    text-align: center;
    border-width: 7px;
    border-radius: 5px;
    width: 240px;
    border-color: #C0C0C0;
    border-style: solid;
    min-height: 240px;
}

.headerWOBackButton {
    margin-top: auto;
    margin-bottom: auto;
    font-size: 20px;
    box-shadow: inset 0 0 3px #333333;
    background-color: #57B582;
    border-width: none;
    width: 240px;
    height: 45px;
    position: relative;
}

.headerWOBackButton p {
    align-self: center;
    margin: 0;
    padding-top: 10px;
}

.sort {
    background-image: url('../images/rank.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 15px;
    width: 15px;
    display: block;
    float: left;
}

.bottom-buttons {
    width: 240px;
    position: fixed;
    display: flex;
    align-items: center;
    bottom: 4%;
}

.bottom-buttons button {
    background-color: transparent;
    flex: 1;
    font-size: 12px;
    border: none;
}

.bottom-buttons img {
    width: 18px;
    height: 18px;
}

::-webkit-scrollbar-track
{
    margin-top: 2px;
    border-radius: 10px;
	background-color: transparent;
}

::-webkit-scrollbar
{
	width: 5px;
	background-color: transparent;
}

::-webkit-scrollbar-thumb
{
    margin-top: 2px;
    border-radius: 10px;
	background-color: #000000;
}

/* Custom id Styles */

#table-body {
    overflow-x: hidden;
    overflow-y: scroll;
    width: 100%;
    height: 300px;
    display: block;
    margin-top: 22px;
}

#team-col {
    padding-left: 2%;
}

#points-col {
    padding-left: 12%;
}
